/* General */
body
{
    display: grid;
    grid-template-areas: 
                    "header"
                    "main"
                    "footer";
    margin: 0;
    grid-template-rows: auto auto auto;
    min-width: 100vw;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

h2
{
    text-align: center;
}

header, footer
{
    background-color: #3ba0ff;
}

h1, h2, h3, a   
{
    font-family: 'Share Tech Mono';
}

li, p, footer a
{
    font-family: 'IBM Plex Mono';
}

img
{
    display: block;
}

/* Header */
header
{
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    box-shadow: 0 0 5px 1px black;
    padding-bottom: 2em;
}

nav
{
    flex: 1 0 auto;
    width: 95%;
}

header ul
{
    display: flex;
    justify-content: space-between;
}

header ul li
{
    margin: 0 0.5em;
}

h1
{
    color: black;
    display: block;
    flex: 1 0 auto;
    font-size: 120%;
    margin-top: 2em;
    margin-bottom: 1em;
}

nav a
{
    font-size: 100%;
}

/* Main */
main
{
    grid-area: main;
    margin: 0;
    padding: 2em 0.5em;
    background-color: white;
    border-radius: 0.1em;
    display: grid;
    grid-template-areas: 
                    "about"
                    "programming";
    grid-template-rows: auto auto;
}

main a
{
    margin-left: 1em;
}

#about
{
    padding-bottom: 2em;
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about h2 
{
    font-family: 'Nova Mono';
    font-size: 200%;
    margin-top: 1em;
    margin-bottom: 0;
}

#about div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about ul
{
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about ul li
{
    font-size: 100%;
    font-family: 'Share Tech Mono'; 
    font-weight: bold;
}

#about ul li:nth-child(2)
{
    border: none;
}

#about p
{
    font-size: 90%;
    margin: 1em auto; 
    margin-bottom: 0;
}

#projects h2
{
    font-size: 200%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
    border-bottom: 2px solid black;
}

li p
{
    margin: 2em 0.5em;
}

#projects>p:first-of-type
{
    text-indent: 2em;
}

#projects li:nth-last-child(1)
{
    margin-bottom: 0;
}

#projects img
{
    max-width: 100%;
    border-radius: 0.1em;
}

#projects ul{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 350px 300px auto;
}

#projects ul li{
    position: relative;
    justify-self: center;
    align-self: stretch;
}

h3
{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background: #3ba0ff;
    border: 2px solid orange;
    padding: 5px;
    border-radius: 5px;
    pointer-events: none;
}

#projects img{
    width: 300px;
    height: 300px;
    filter: brightness(0.7);
}

#projects img:hover{
    filter: brightness(0.3) blur(3px);
}

/* Footer */
footer
{
    grid-area: footer;
    border-top: 0.5px solid #127ce0;
    box-shadow: 0 0 5px 1px black;
    padding-top: 1em;
    padding-bottom: 2em;
}

footer p
{
    display: inline;
    font-weight: bold;
}

#footer-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
}

#contact li
{   
    margin: 0.5em 0;
}

footer h2 
{
    margin: 0.5em 0;
}


#website-links ul
{
    display: flex;
    flex-direction: row;
}

#website-links li
{
    margin: 0 1em;
}

/* Links */
a
{
    text-decoration: none;
    font-weight: bold;
}

a:focus 
{
    outline: none;
}

h1 a:link
{
    color: black;
}

h1 a:visited
{
    color: black;
}

h1 a:focus
{
    color: black;
}

h1 a:hover
{
    color: black;
}

h1 a:active
{
    color: black;
}

nav a
{
    color: black;
}

nav a:link
{
    color: black;
}

nav a:visited
{
    color: purple;
}

nav a:focus
{
    color: white;
    background-color: #1f6db6;
    padding: 0.2em;
}

nav a:hover
{
    color: white;
    background-color: #1f6db6;
    padding: 0.2em;
}

nav a:active
{
    color: yellow;
}

#contact a:link
{
    border-radius: 0.1em;
    padding: 0.2em;
    color: white;
    font-weight: normal;
}

#contact a:visited
{
    color: #2678c5;
}

#contact a:focus
{
    color: white;
    background-color: #1f6db6;
}

#contact a:hover
{
    color: white;
    background-color: #1f6db6;
}

#contact a:active
{
    color: rgb(171, 187, 31);
}

/* Responsive */
@media (min-width: 450px)
{
    main
    {
        padding: 2em;
    }
}

@media (min-width: 600px)
{
    nav
    {
        margin: 0 2em;
    }
    
    h1
    {
        margin-top: 1em;
        font-size: 200%;
    }

    main
    {
        margin: 5vw;
    }

    #about ul
    {
        flex-direction: row;
    }

    #about li
    {
        padding: 0 1em;
        border-right: 2px solid black;
    }

    footer h2
    {
        text-align: left;
        font-size: 170%;
        border-bottom: 3px solid black;
    }

    #footer-wrapper
    {
        flex-direction: row;
        align-items: flex-start;
        margin: 0 5em;
    }

    #contact
    {
        margin: 0;
    }
}

@media (min-width: 800px)
{
    h1
    {
        margin: 0;
        font-size: 200%;
    }

    header
    {
        flex-direction: row;
        padding: 4em 10%;
    }

    nav
    {
        width: 25%;
        margin: 0;
    }

    main
    {
        padding: 2em 0;
        margin: 5% 10%;
        margin-bottom: 0;
        grid-template-rows: auto auto;
    }

    #website-links li
    {
        margin: 0 1em;
    }

    #projects ul{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media (min-width: 1000px)
{
    header
    {
        padding: 1em 10%;
    }

    header a
    {
        padding: 0.2em;
    }

    main
    {
        margin: 5% 10%;
        padding-bottom: 0;
    }

    section
    {
        padding: 0 5em;
    }

    #about
    {
        padding: 0 1em 3em;
        flex-direction: row;
    }
    
    #about p
    {
        margin: 0.5em 2em 0; 
    }

    #about h2
    {
        margin-top: 0;
    }

    #projects{
        padding: 0 30px;
    }

    #projects h2
    {
        margin-left: -2em;
        margin-right: -2em;
    }

}

@media (min-width: 1400px)
{
    #projects img{
        width: 500px;
        height: 500px;
    }
}

@media (min-width: 1500px)
{
    header
    {
        padding: 1.5em 20%;
        font-size: 150%;
    }

    main
    {
        padding-top: 1em;
        margin: 2% 20%;
    }
}